<mat-card class="card">
  <div class="container">
    <h1>Signup</h1>
        <form [formGroup]="signupForm" autocomplete="off">
          <div>
            <mat-form-field>
              <input  type="text"  matInput  placeholder="Name"  formControlName="name" />
            </mat-form-field>
          </div>

        <div>
          <mat-form-field>
            <input  type="text"  matInput  placeholder="Email"  formControlName="email" />
          </mat-form-field>
        </div>
        
        <div>
          <mat-form-field>
            <input  type="text"  matInput  placeholder="Mobile"  formControlName="mobile" />
          </mat-form-field>
        </div> 

        <div>
          <button style="margin-top: 20px" mat-raised-button color="primary"> Signup </button>
        </div>
      </form>
    </div>
  </mat-card>
  